# Ignore Gradle project-specific cache directory
.gradle
.idea
.vscode

# Class files
bin/**/*.class

bin
**/bin/
!src/**/bin/

# Ignore Gradle build output directory
build
**/build/
!src/**/build/

**/resources
**/references

client/bin/main/control/*

